<div class="container">
    <div class="columns col-pad">
        <form class="column is-8 is-offset-2 " method="POST" action="{{ url_for('signup') }}">
            <div class="card my-white-light">
                <div class="card-content">
                    <div class="content">

                        <div class="notification my-blue is-full">
                            <p class="has-text-centered text-my-white">Sign Up !</p>
                        </div>


                        <!-- Full Name Input -->
                        <div class="field column is-8 is-offset-2">
                            <label for="fullname" class="label">Full Name</label>
                            <div class="control has-icons-left">
                                <input id="fullname" name="fullname" class="input validate sign-bord" type="text"
                                    minlength="5" maxlength="30" placeholder="Enter Full Name" required>
                                <span class="icon is-small is-left">
                                    <i class="fas fa-signature"></i>
                                </span>
                            </div>
                        </div>


                        <!-- Username Input -->
                        <div class="field column is-8 is-offset-2">
                            <label for="username" class="label">Username</label>
                            <div class="control has-icons-left">
                                <input id="username" name="username" class="input validate sign-bord" type="text"
                                    minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$"
                                    placeholder="Enter Username" required>
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                            </div>
                        </div>

                        <!-- Email Input -->
                        <div class="field column is-8 is-offset-2">
                            <label for="email" class="label">Email</label>
                            <div class="control has-icons-left">
                                <input id="email" name="email" class="input validate sign-bord" type="email"
                                    placeholder="Enter Email Address" required>
                                <span class="icon is-small is-left">
                                    <i class="fas fa-envelope-square"></i>
                                </span>
                            </div>
                        </div>

                        <!-- Password Input -->
                        <div class="field column is-8 is-offset-2">
                            <label for="password" class="label">Password</label>
                            <div class="control has-icons-left">
                                <input id="password" name="password" class="input validate sign-bord" type="password"
                                    minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$"
                                    placeholder="Enter Password" required>
                                <span class="icon is-small is-left">
                                    <i class="fas fa-key"></i>
                                </span>
                            </div>
                        </div>

                        <!-- Profile Image Url -->
                        <div class="field column is-8 is-offset-2">
                            <label for="profile_pic" class="label">Profile Picture</label>
                            <div class="control has-icons-left">
                                <input id="profile_pic" name="profile_pic" class="input validate sign-bord" type="URL"
                                    maxlength="300" placeholder="Enter Profile Pic URL" required>
                                <span class="icon is-small is-left">
                                    <i class="fas fa-portrait"></i>
                                </span>
                            </div>
                        </div>



                        <!-- Sign Up Button -->
                        <div class="field column is-4 is-offset-4">
                            <div class="control">
                                <button class="button my-blue sign-bord is-medium is-fullwidth text-my-white">Sign
                                    Up</button>
                            </div>
                        </div>

                        <!-- Log-in Link For Existing Users -->
                        <div class="column is-12">
                            <p class="has-text-centered">
                                Already Signed Up?
                                <a href="{{ url_for('login') }}" class="my-red-text">Log In</a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>