{% extends "base.html" %}
{% block content %}
{% include "components/navigation/navigation.html" %}


    <h4 class="title is-3 has-text-centered col-pad text-my-black">Home Shit</h4>


    <figure class="image">
        <i class="jumpy fas fa-record-vinyl fas fa-8x"></i>
    </figure>

    <figure class="image is-128x128">
        <img src="static/images/vinyl_red.png" onerror="this.onerror=null; this.src='static/images/smiley_big.png';" alt="Profile Pic">
    </figure>
  <!--  jumpy fas fa-record-vinyl fas fa-8x -->


{% endblock %}
