{% extends "layout/base.html" %}
{% block content %}
{% include "components/navigation/navigation.html" %}

<section class="is-long">
<div class="container rel-pos">
   
            <div class="column height-auto"></div>
      
            <div class=" abs-pos">
                <figure class="has-text-centered">
                    <img src="static/images/my.png" class="invert"><img src="static/images/spin-vin.gif" class="vin-spin">
                    <img src="static/images/answer.png" class="invert">
                </figure>
            </div>

            <div class="column height-auto"></div>
       
 
</div>
</section>

{% endblock %}
