{% extends "layout/base.html" %}
{% block content %}
    
    {% include "components/navigation/navigation.html" %}

    {% include 'components/flash_messages/flash_messages.html' %}


        <div class="container">

            <div class="notification my-blue is-full col-pad">
                <p class="has-text-centered text-my-white">Manage Genre</p>
            </div>

            <section class="section">
                <div class="columns is-centered col-pad is-flex-wrap-wrap">

                    {% for genre in genre %}
                    <div class="column is-2">
                        <div class="card">
                            <header class="card-header">
                                <span class="card-header-title is-horizontal-center prof-font">
                                    {{ genre.genre_name }}
                                </span>
                            </header>
                            <footer class="card-footer">
                                <a href="{{ url_for('edit_genre', genre_id=genre._id) }}" class="card-footer-item">Edit</a>
                                <a href="{{ url_for('del_genre_confirm', genre_id=genre._id) }}" class="card-footer-item ">Delete</a>
                            </footer>

                        </div>
                    </div>
                    {% endfor %}

                </div>

                <div class="row is-centered col-pad">
                    <div class="field column is-4 is-offset-4">
                        <div class="control">
                            <a href="{{ url_for('add_genre') }}"
                                class="button my-red text-my-white is-medium is-fullwidth but-font is-rounded">
                                Add Genre
                            </a>
                        </div>
                    </div>
                </div>
            </section>

        
        </div>

{% endblock %}