{% extends "layout/base.html" %}
{% block content %}
    
    {% include "components/navigation/navigation.html" %}

    {% include 'components/flash_messages/flash_messages.html' %}


        <div class="container">
            <div class="notification my-blue is-full col-pad">
                <p class="has-text-centered text-my-white">Manage Genre</p>
            </div>
            <div class="columns is-centered">

                {% for genre in genre %}
                <div class="column is-2">
                    <div class="card">
                        <header class="card-header">
                            <span class="card-header-title is-horizontal-center ">
                                {{ genre.genre_name }}
                            </span>
                        </header>
                        <footer class="card-footer">
                            <a href="#" class="card-footer-item">Edit</a>
                            <a href="#" class="card-footer-item">Delete</a>
                        </footer>
                        
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>

{% endblock %}