{% extends "layout/base.html" %}
{% block content %}
    
    {% include "components/navigation/navigation.html" %}

    {% include 'components/flash_messages/flash_messages.html' %}


        <div class="container is-two-thirds">

            <div class="notification my-blue is-full col-pad">
                <p class="has-text-centered text-my-white">Manage Users</p>
            </div>

            <section class="section">
                <div class="columns is-centered col-pad is-flex-wrap-wrap">

                    {% for user in users %}
                    <div class="column is-2">
                        <div class="card">
                            <header class="card-header">
                                <span class="card-header-title is-horizontal-center ">
                                    {{ user.username }}
                                </span>
                            </header>
                            <footer class="card-footer">
                                <a href="{{ url_for('edit_user', user_id=user._id) }}" class="card-footer-item">Edit</a>
                                <a href="{{ url_for('del_user_confirm', user_id=user._id) }}" class="card-footer-item">Delete</a>
                            </footer>

                        </div>
                    </div>
                    {% endfor %}

                </div>
            </section>
        </div>

{% endblock %}