{% extends "layout/base.html" %}
{% block content %}
    
    {% include "components/navigation/navigation.html" %}

    {% include 'components/flash_messages/flash_messages.html' %}


        <div class="container">
            <div class="notification my-blue is-full col-pad">
                <p class="has-text-centered text-my-white">Manage Vinyl</p>
            </div>

                <div class="column is-8 is-offset-2">

                    <nav class="panel my-white panel-size">
                        <form action="{{ url_for('vinyl_search') }}" method="POST">
                        <p class="panel-heading">
                            All Vinyl
                        </p>
                        <div class="panel-block">
                            <p class="control has-icons-left has-addons is-expanded">
                                <input id="vinyl_query" name="vinyl_query" class="input validate sign-bord"
                                            minlength="3" type="text" placeholder="Search" required>
                                        <span class="icon is-left">
                                            <i class="fas fa-search" aria-hidden="true"></i>
                                        </span>
                                        <div class="control">
                                            <button type="submit" class="button my-blue text-my-white">
                                              Search
                                            </button>
                                          </div>
                            </p>
                        </div>
                        <p class="panel-tabs">
                            <a class="is-active">All</a>
                            <a>Hardcore</a>
                            <a>House</a>
                            <a>Techno</a>
                            <a>Trance</a>
                        </p>
                        <div class="panel-size">
                            {% for vinyl in vinyl %}
                            <a href="{{ url_for('vinyl_card', vinyl_id=vinyl._id) }}" class="panel-block is-active">
                                <span class="panel-icon">
                                    <i class="fas fa-record-vinyl" aria-hidden="true"></i>
                                </span>
                                Tune : {{ vinyl.vinyl_name }}
                                <br>
                                Genre : {{ vinyl.genre_name }}
                                <br>
                                Artist : {{ vinyl.vinyl_artist }}
                                <br>
                                Release Year : {{ vinyl.release_year }}
                            </a>
                            {% endfor %}
                        </div>
                        <div class="panel-block">
                            <a href="{{ url_for('my_vinyls') }}" class="button is-link is-outlined is-fullwidth">
                                Reset all filters
                            </a>
                        </div>
                        </form>
                    </nav>

                </div>

           
        </div>

{% endblock %}