@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Titillium+Web&display=swap');

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    background-image: url("../images/deck.jpg");
    background-size: cover;
    font-family: 'Titillium Web', sans-serif;
    scroll-behavior: smooth;
}

.prof-font {
    font-size: 1.3rem;
}

.text-my-white {
    color: #F8F9FA;
}

.text-my-black {
    color: #110303;
}

.my-white {
    background-color: #F8F9FA;
}

.my-white-light {
    background-color: rgba(245, 245, 245, .9);
}

.table {
    background-color: transparent;
}

.my-blue {
    background-color: #3ca9e9;
}

.my-blue-light {
    background-color: rgba(161, 233, 247, .3);
}

.my-red {
    background-color: #a41041;
}

.my-red-text:hover {
    color: #a41041;
}

div.navbar-item.logo { 
    background-image: url("../images/logo.png");
    background-size: contain;
    filter: invert(100%);
    width: 12rem;
  }

  .notification p {
      font-size: 2rem;
  }

.flash {
    border-radius: 1rem;
   /* background-color: rgba(161, 233, 247, .5);  */                     /* rgba(161, 233, 247, .8) */
    border: 3px solid rgba(227, 100, 100, .2);                           /* rgba(227, 100, 100) */
}

.flash h4 {
    line-height: 2rem;
}


.col-pad {
    margin-top: 2rem;
}

select, .sign-bord, .log-bord:hover {
    border-color: #3ca9e9 !important;
}

select:focus, .sign-bord:hover, .log-bord {
    border-color: #f7a1ad !important;
}

.button:hover {
    font-weight: 600;
}


/* Collapsible CSS taken from W3Schools */
.collapsible {
    /*background-color: #a1e9f9;*/
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    border: 2px solid rgba(227, 100, 100, .3);
    font-size: 1rem;
}
  
.collapsible:after {
    content: '\002B';
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
  
.active:after {
    content: "\2212";
}
  
.vinyl-content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: rgba(161, 233, 247, .3);
}


#butt-center {
    display: flex;
    align-items: center;
    justify-content: center;
}


.is-horizontal-center {
    justify-content: center;
  }


  
/* Bouncing Animation */

.jumpy {
    animation: updown 2s ease infinite;
    color: #F8F9FA;
}

@keyframes updown {
    0% {
      transform: translateY(-100%);
    }
  
    50% {
      transform: translateY(100%);
    }
  
    100% {
      transform: translateY(-100%);
    }
  }


/* Media Queries */

/* Show in Large desktops and laptops */
@media (min-width: 1200px) {

}

/*Hide in Other Small Devices */

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

    body {
        background-image: url("../images/deck.jpg");
        background-size: contain;
    }

    .notification p {
        height: 1rem;
        font-size: 1.5rem;
        line-height: 1rem;
    }

    .col-pad {
        margin-top: 0.8rem;
    }

    .prof-font {
        font-size: 0.9rem;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  
}