@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Titillium+Web&display=swap');

html {
    background-color: #f5f5f5;
}

body {
    font-family: 'Titillium Web', sans-serif;
}

.navbar {
    background-color: #a1e9f7;
}

.navbar-item::after {
    color: #f7a1ad;
}

a.navbar-item.logo { 
    background-image: url("../images/logo6blue.png");
    background-size: cover;
    width: 12rem;
  }

.flash h4 {
    line-height: 2;
}

.flash-col {
    color: #fff;
    background-color: rgba(227, 100, 100, .5);
}