{% extends "base.html" %}
{% block content %}

    <div class="modal is-active">
        <div class="modal-background"></div>
        <div class="modal-card">
            <section class="modal-card-body has-text-centered">
                {{ username }}, are you sure you want to delete {{ vinyl.vinyl_name }} ?
            </section>
            <footer class="modal-card-foot">
                <div class="field column is-grouped is-grouped-centered">
                    <div class="control">
                        <a href="{{ url_for('get_vinyls') }}" class="button my-white sign-bord">Cancel</a>
                        <a href="{{ url_for('delete_vinyl', vinyl_id=vinyl._id) }}"
                            class="button my-red sign-bord">Delete</a>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    
{% endblock %}
