{% extends "base.html" %}
{% block content %}

    <div class="columns col-pad">
        <div class="column is-8 is-offset-2">
            <div class="card my-white-light">
                <div class="card-content">
                    <div class="content">
                        <div class="notification my-blue is-full">
                            <h3 class="title is-3 has-text-centered">
                                My Profile
                            </h3>
                        </div>

                        <div class="columns">
                            <div class="column"></div>
                            <div class="column col-pad">
                                <figure class="image is-256x256">
                                    <img src={{ users.profile_pic }}>
                                </figure>
                            </div>
                            <div class="column"></div>
                        </div>


                        <table class="table prof-font has-text-centered">
                            <tr>
                                <td class="has-text-right">Full Name :</td>
                                <td>{{ users.fullname }}</td>
                            </tr>
                            <tr>
                                <td class="has-text-right">Username :</td>
                                <td>{{ users.username }}</td>
                            </tr>
                            <tr>
                                <td class="has-text-right">Email Address :</td>
                                <td>{{ users.email }}</td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}