{% extends "base.html" %}
{% block content %}

    <div class="columns col-pad">
        <div class="column is-8 is-offset-2">
            <div class="card my-white-light">
                <div class="card-content">
                    <div class="content">
                        <div class="notification my-blue is-full">
                            <h3 class="title is-3 has-text-centered">
                                My Profile
                            </h3>
                        </div>

                        <table class="table prof-font">
                            <tr>
                                <td class="has-text-right">Full Name :</td>
                                <td class="has-text-left">{{ users.fullname }}</td>
                            </tr>
                            <tr>
                                <td class="has-text-right">Username :</td>
                                <td>{{ users.username }}</td>
                            </tr>
                            <tr>
                                <td class="has-text-right">Email Address :</td>
                                <td>{{ users.email }}</td>
                            </tr>
                            <tr>
                                <td class="has-text-right">Line 4 Noseyness</td>
                                <td>Line 4 Answer</td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}