{% extends "base.html" %}
{% block content %}

    <h2 class="title is-2 has-text-centered">Sign Up !</h2>

    <div class="columns">
        <form class="column is-8 is-offset-2" method="POST" action="{{ url_for('signup') }}">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <!-- Username Input -->
                        <div class="field column is-8 is-offset-2">
                            <label for="username" class="label">Username</label>
                            <div class="control has-icons-left has-icons-right">
                                <input id="username" name="username" class="input is-success validate" type="text" 
                                    minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" placeholder="Enter Username" required>
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                            <!--    <span class="icon is-small is-right">
                                    <i class="fas fa-check"></i>
                                </span> -->
                            </div>
                        <!--    <p class="help is-success">This username is available</p>    -->
                        </div>
                        <!-- Password Input -->
                        <div class="field column is-8 is-offset-2">
                            <label for="password" class="label">Password</label>
                            <div class="control has-icons-left has-icons-right">
                                <input id="password" name="password" class="input is-danger validate" type="password" 
                                    minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" placeholder="Enter Password" required>
                                <span class="icon is-small is-left">
                                    <i class="fas fa-key"></i>
                                </span>
                            <!--    <span class="icon is-small is-right">
                                    <i class="fas fa-exclamation-triangle"></i>
                                </span> -->
                            </div>
                        <!--    <p class="help is-danger">This email is invalid</p>  -->
                        </div>
                        <!-- Sign Up Button -->
                        <div class="field column is-4 is-offset-4">
                            <div class="control">
                                <button class="button is-link is-medium is-fullwidth">Sign Up</button>
                            </div>
                        </div>




                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}