<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Vinyl Answer</title>
</head>
<body>
    {% for vinyl in vinyl %}
        {{ vinyl.genre_name }}<br>
        {{ vinyl.vinyl_name }}<br>
        {{ vinyl.vinyl_artist }}<br>
        {{ vinyl.vinyl_label }}<br>
        {{ vinyl.vinyl_description }}<br>
        {{ vinyl.release_year }}<br>
    {% endfor %}
</body>
</html>