{% extends "base.html" %}
{% block content %}

    <h4 class="title is-3 has-text-centered col-pad">My Vinyl Collection</h4>

    <div class="columns col-pad">
        <div class="column is-8 is-offset-2 ">
            

                {% for vinyl in vinyl %}
                
                    <button class="collapsible my-blue">
                        <strong>{{ vinyl.vinyl_name }}</strong>
                    </button>

                    <div class="vinyl-content">
                        <p><strong>Genre :</strong> {{ vinyl.genre_name }}</p>
                        <p><strong>Artist :</strong> {{ vinyl.vinyl_artist }}</p>
                        <p><strong>Label :</strong> {{ vinyl.vinyl_label }}</p>
                        <p><strong>Description :</strong> {{ vinyl.vinyl_description }}</p>
                        <p><strong>Release Year :</strong> {{ vinyl.release_year }}</p>

                    </div>
               
                {% endfor %}

        </div>       
    </div>
    


{% endblock %}
