{% extends "base.html" %}
{% block content %}

    <h4 class="title is-3 has-text-centered col-pad text-my-white">My Vinyl Collection</h4>

    <div class="columns col-pad">
        <div class="column is-8 is-offset-2 ">
            

                {% for vinyl in vinyl %}

                    {% if session.user|lower == vinyl.owner|lower %}

                        <button class="collapsible my-white-light">
                            <strong class="text-my-black">{{ vinyl.vinyl_name }}</strong>
                        </button>

                        <div class="vinyl-content">
                            <div class="columns">
                                <div class="column is-four-fifths text-my-black">
                                    <p><strong>Genre :</strong> {{ vinyl.genre_name }}</p>
                                    <p><strong>Artist :</strong> {{ vinyl.vinyl_artist }}</p>
                                    <p><strong>Label :</strong> {{ vinyl.vinyl_label }}</p>
                                    <p><strong>Description :</strong> {{ vinyl.vinyl_description }}</p>
                                    <p><strong>Release Year :</strong> {{ vinyl.release_year }}</p>
                                </div>

                                <div id="butt-center" class="column is-one-fifth">

                                    <a href="{{ url_for('edit_vinyl', vinyl_id=vinyl._id) }}"
                                        class="button my-white sign-bord">Edit</a>
                                    <a href="{{ url_for('confirm_modal', vinyl_id=vinyl._id) }}"
                                        class="button my-white sign-bord my-blue-font">Delete</a>

                                </div>
                            </div>
                        </div>
                        
                    {% endif %}
               
                {% endfor %}

        </div>       
    </div>

{% endblock %}
