<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="card">
            <div class="card-content">
                <div class="content">
                    <h2 class="has-text-centered">My Vinyl Answer .... What is it all about?</h2>
                    <br>
                    <p class="has-text-centered">Any vinyl collector knows the pain of going through their collection
                        every once in a while and
                        trying to figure out what genre is
                        what or what year a tune is?
                        You try with your wee pieces of paper or card to seperate certain groups of vinyl apart but
                        these
                        don't last very long ... and then it's back to having a whole bunch of vinyl again.</p>
                    <p class="has-text-centered">Well have no fear cause <strong>My Vinyl Anwser</strong> is here !</p>
                    <p class="has-text-centered">It will keep track of your very personal vinyl collection where you can
                        create, read, update and
                        delete your way to vinyl heaven.
                        Slide through your vinyl collection wherever or whenever you want and don't forget to check your
                        collection before you buy another
                        copy of that awesome tune that you've already bought 3 times.</p>
                    <p class="has-text-centered">Anyways, I hope you like it ..... peace out !</p>
                    <br>
                    <div>
                        <p class="has-text-centered">Developed by <b>RaVeR76</b>
                            (2<img src="{{ url_for('static', filename='images/smiley_small.png') }}"
                                alt="A rave smiley face" class="smiley-size">2 1)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="{{ url_for('home') }}" class="modal-close is-large" aria-label="close"></a>
</div>